body {
  display: block;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -8px;
  height: 130px;
  background-color: rgba(240, 255, 255,0.6);
  position: fixed;
}

article {
  display: flex;
  width: 100;
  min-height: 1000px;
  padding-top: 130px;
}
/*Main Section*/
section {
  flex: 3;
  background-color: aqua;
  order: 2;
  display: flex;
  flex-flow: column;
}
section h2{
  padding-left: 2em;
}
.writer_headline {
  color: black;
  font-size: 2em;
  padding-left: 2em;
}

.text_headline {
  font-family: sans-serif;
  padding: 1em;
  text-indent: 2em;
}

aside {
  flex: 1;
  background-color: burlywood;
  order: 1;
  display: flex;
  flex-flow: column;
}

footer {
  display: flex;
  background-color: black;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}

/*navigation*/
.writer li{
  list-style: none;
}
.text  li{
  list-style: none;
  line-height: 1.5em;
}
.writer a {
  list-style: none;
  line-height: 1.5em;
  font-size: 1.2em;
  text-decoration: none;
}
.text a {
  list-style: none;
  font-size: .8em;
  text-decoration: none;
}




