body {
  display: block;
  width: 80%;
  margin:0 auto;
  padding: 0;
  height: 50em;
}
/*HEADER*/
#header {
  display: flex;
  justify-content: space-around;
  background-color:  #9DBCBC;
}
img {
 max-height: 150px;
}
/*MAIN*/
.main {
  display: flex;
}
.content {
  display: flex;
  flex-flow: column;
  flex: 3 ;
  padding-left: 2em;
  background-color: #FFCC66;
  order: 2;
  min-height:37em;
  margin: 0;
  font-size: 1em;
}
.content p {
  font-size: 1.2em;
  color: firebrick;
}
/*Message(Session)*/
.message{
  border: 2px solid #962020;
  color: #931515;
  font-size: 2em;
  font-weight: bold;
  align-self: flex-start;
  order: 3;
  padding: 1em;
  margin-top: 1em;
}
/*NAVIGATION*/
#navigation {
  display: flex;
  flex-flow: column;
  flex: 1 ;
  background-color:#B7B7B7;
  margin: 0;
  color: #378ad0;
  align-items: center;
}
#navigation a {
  color: #180bac;
  text-decoration: none;
}
#navigation a:hover {
  margin-right:2px;
}
ul.writer {
  margin:1em 0;
  padding-left: 0.5em;;
  list-style: none;
    font-size: 1.3em;
}
ul.text {
  padding-left: 1em;
  list-style: none;
    font-size: 0.6em;
  font-weight: normal;
}
.selected {
  font-weight:  bold;
  list-style: none;
}
/*FOOTER*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #006666 ;
  text-align: center;
  color: azure;
}
/*Errors*/
.error {
  color: #6d2121;
  font-size: 1.2em;
  padding-top: 1em;
  order: 3;
}


@media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  img {
 max-height: 75px;
}
  .content {
   display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  background-color: #FFCC66;
  order: 0;
  font-size: 1em;
}
 #navigation {
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  background-color:#B7B7B7;
  margin: 0;
  color: #378ad0;
  align-items: flex-start;
}
}



